.Descripcion {
  background-color: #eee;
  position: relative;
  z-index: 0;
}

.Descripcion h2 {
  text-align: center;
  color: rgb(75, 75, 75);
}
.desc__container {
  display: flex;
  padding-top: 3%;
}
.Desc {
  display: flex;
  padding-left: 4%;
  padding-right: 4%;
  flex-direction: column;
  position: relative;
}

.Desc div {
  width: 100%;
  height: 200px;
}

.Contenido {
  color: rgb(75, 75, 75);
}

.desc1 .Contenido p {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5%;
  text-align: center;
  font-size: 90%;
}

.desc2 .Contenido p {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 3%;
  text-align: center;
  font-size: 90%;
}

.Desc .Images {
  position: relative;
}

.Desc .Images img {
  position: absolute;
  height: 85%;
  width: 80%;
  padding-left: 10%;
  padding-top: 8.3%;
}

.Images2 {
  position: relative;
}

.Images2 img {
  position: absolute;
  width: 70%;
  height: 100%;
  bottom: 30px;
  padding-left: 15%;
}

.desc1 div, .desc2 div {
  background-color: #aedbce2f;
  /* border-radius: 13px; */
}

.desc__container .QueSomos, .desc__container .Objetivos {
  width: 270px;
  background-color:#b3d4d3;
  position: absolute;
  height: auto;
  z-index: 1;
  transform: translateY(-50%);
  left: 100px;

}

.QueSomos a {
  color: rgb(75, 75, 75);
  font-size: 80%;
  font-weight: 550;
  padding: 9%;
}

.Objetivos a {
  color: rgb(75, 75, 75);
  font-size: 80%;
  font-weight: 550;
  padding: 9%;
}


